body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: rgba(244, 216, 205);
}

header,
main {
  width: 60%;
}

ul {
  margin-left: 0;
}

nav img {
  width: 50px;
  margin: 10px;
  opacity: 0.8;
  filter: invert(1);
  cursor: pointer;
}

nav img:hover {
  opacity: 1;
}
h2,
h3 {
  margin-bottom: 10px;
  font-weight: 500;
}
p {
  padding: 0 20px;
  font-weight: 300;
  text-align: justify;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 20px;
  color: aliceblue;
  background-color: rgba(24, 2, 12, 0.8);
  text-align: center;
}

h1 {
  font-weight: 600;
  margin: 10px;
}

.student {
  margin: 10px;
}
header h2,
header h3 {
  font-weight: 500;
  margin: 0;
}

#dp {
  width: 150px;
  border-radius: 100px;
}

.section-headers {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.section-headers img {
  width: 30px;
  filter: invert(1);
}

.desc {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: aliceblue;
  background-color: rgba(81, 75, 35, 0.8);
}
.educ {
  color: aliceblue;
  background-color: rgba(72, 130, 134, 0.8);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.educ-lists {
  display: flex;
  justify-content: center;
}

.experience {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: aliceblue;
  background-color: rgba(179, 106, 94, 0.8);
}

.achievements {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: aliceblue;
  background-color: rgba(166, 58, 80, 0.8);
}
