@font-face {
  font-family: Inter;
  src: url(fonts/Inter-VariableFont_slnt\wght.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: rgba(241, 222, 222);
}

a {
  text-decoration: none;
  color: white;
}

h2,
h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

p {
  padding: 0 20px;
  font-weight: 300;
  text-align: justify;
}

header,
main {
  width: 60%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 20px;
  color: white;
  background-color: rgba(19, 41, 61, 0.8);
  text-align: center;
}

nav img {
  width: 50px;
  margin: 10px;
  opacity: 0.8;
  filter: invert(1);
  cursor: pointer;
  transition: 0.3s;
}

nav img:hover {
  opacity: 1;
}

h1 {
  font-weight: 600;
  margin: 10px;
}

.student {
  margin: 10px;
}
header h2 {
  font-weight: 500;
}

#dp {
  width: 150px;
  border-radius: 100px;
}

.section-headers {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: solid;
}

.section-headers img {
  width: 30px;
  filter: invert(1);
}

.about {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: aliceblue;
  background-color: rgba(81, 75, 35, 0.8);
}
.educ {
  color: white;
  background-color: rgba(72, 130, 134, 0.8);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.skills {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: white;
  background-color: rgba(179, 106, 94, 0.8);
}

.achievements {
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: white;
  background-color: rgba(166, 58, 80, 0.8);
}

.lists-container {
  display: flex;
}

.left-lists,
.right-lists {
  width: 50%;
}

@media screen and (max-width: 768px) {
  header,
  main {
    width: 90%;
    font-size: 0.9em;
  }

  ul {
    padding-left: 20px;
  }

  p {
    padding: 0 10px;
  }
}

@media screen and (max-width: 375px) {
  header,
  main {
    width: 90%;
    font-size: 0.9em;
  }

  ul {
    padding-left: 20px;
  }

  p {
    padding: 0 10px;
  }
}
